{
  "trailingComma": "all",
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "cursorOffset": -1,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false
}
